
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.send-message-logo {
  text-align: center;
}

.send-message-header {
  color: #002776;
  font-size: 32px;
  font-weight: 600;
  width: 100px;
  margin-bottom: 10px;
}

.send-message-sub-header {
  color: #a3abbd;
  font-size: 11px;
  margin-bottom: 35px;
}

.send-message-label {
  margin-top: 30px;
}

.show-number-button {
  margin-left: 5px;
}

.spinner {
  margin-left: 5px;
  vertical-align: middle !important;
  color: #0d6efd;
}

@media (max-width: 600px) {
  .content {
    left: 50%;
    margin: 50px auto auto;
  }

  .message-container {
    background-color: #fff;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .inner-message-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  .content {
    margin: 50px auto auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .message-container {
    width: 560px;
    height: 640px;
    border-radius: 24px;
    box-shadow: 0 0 20px 10px rgb(0 155 253 / 10%);
    margin-top: 50px;
    background-color: white;
  }

  .inner-message-container {
    padding-top: 55px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
:root{
  --main-color:#007ADB;
  --light-main-color:#0079FB;
  --secondary-color:#3F4756; 
  --white-color:#ffffff;
  --light-grey-color:#F1F6FB;
  --pink-color:#FF5490;
}

ul{
  list-style: none;
  padding: 0;
}
::placeholder{
  font-size: 17px;
  color: #ADADAD;
}
::-webkit-input-placeholder { /* Edge */
  font-size: 17px;
  color: #ADADAD;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 17px;
  color: #ADADAD;
}
/*************Scroll**************/
::-webkit-scrollbar {
width: 4px;
height: 3px;
}

::-webkit-scrollbar-thumb {
cursor: pointer;
background:var(--main-color);
}

/****************Fonts******************/

/*****Montserrat Bold**/
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
       url("../fonts/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url('../fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*****Montserrat SemiBold**/
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot');
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
      url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
}

/*****Montserrat Meduim**/
@font-face {
  font-family: 'Montserrat-Meduium';
  src: url('../fonts/Montserrat-Medium.eot');
  src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       url("../fonts/Montserrat-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium.svg#Montserrat-Medium.eot') format('svg');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}
/*****Montserrat Regular******/
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
       url("../fonts/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat-Regular.svg#Montserrat-Regular.eot') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

/*****reset***/
.btn,input,input:hover,input:focus,button:hover,button:focus{
  background-color: transparent;
  box-shadow: 0 0 0 0 !important;
  outline: unset !important;
  border: 0 !important;
}
.btn-lg{
  padding: 15px 30px;
  font-size: 13px;
  font-family: 'Montserrat-Meduium';
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in;
}
.btn-primary{
  background-color: var(--main-color);
  color: #fff;
  font-family: 'Montserrat-Meduium';
}
.btn-primary:hover , .btn-primary:active{
  background-color:#4a8bd2;
  box-shadow: 0 5px 10px 0 rgba(0, 121, 251, 0.3) !important;
}
.btn-secondary{
  background-color: var(--secondary-color);
  color: #fff;
  font-family: 'Montserrat-Meduium';
}

.btn-secondary:hover ,.btn-secondary:active {
  background-color:#5e6777;
  box-shadow: 0 5px 10px 0 rgb(94 103 119 / 62%) !important;
}
.light-title{
  color: var(--main-color);
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat-SemiBold';
}
.secondary-title{
  color: var(--secondary-color);
  font-size: 36px;
  margin-bottom: 70px;
  font-family: 'Montserrat-SemiBold';
}
body,html{
  overflow-x: hidden !important;
}
body{
  background-image: url(../img/layout/body-top-bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
}
body::before{
  content: '';
  background-image: url(../img/layout/header-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 5%;
}
header{
  padding: 25px 0;

  background-repeat: no-repeat;
}
/******Navbar*****/
.app-navbar .navbar{
  float: right;
}
.app-navbar .navbar  .nav-link{
  color: var(--secondary-color);
  margin-left: 37px;
  font-family: 'Montserrat-SemiBold';
}
.app-navbar .navbar-light .navbar-nav .active>.nav-link,.app-navbar .navbar-light .navbar-nav .nav-link.active,
.app-navbar .navbar-light .navbar-nav .nav-link.show, .app-navbar .navbar-light .navbar-nav .show>.nav-link , .app-navbar .navbar  .nav-link:hover{
  color: var(--light-main-color) !important;
}

/*******Hero******/
.hero {
  position: relative;
  text-align: left;
  padding-top: 85px;
  margin-bottom: 75px;
  z-index: 6;
}
.hero-copy {
  padding-top: 100px;
  padding-right: 30px;
  min-width: 448px;
  max-width: 588px;
}
.hero-copy h1 {
 font-size: 50px;
 font-family: 'Montserrat-Bold';
 margin-bottom: 25px;
}

.hero-copy p{
  font-size: 14px;
  font-family: 'Montserrat-Meduium';
  margin-bottom: 60px;
}
.hero-copy button a{
  font-family: 'Montserrat-Meduium';
  font-size: 14px;
}
.hero-copy a svg{
  margin-right: 15px;
}
.hero-copy ul li a{
   display: flex;
   align-items: center;
}
/* a.btn-primary:hover svg path{
  fill: var(--main-color) !important;
}
a.btn-secondary:hover svg path{
  fill: var(--secondary-color) !important;
} */
/****Features****/
.features{
   margin-top: 150px;
   position: relative;
} 
.features::before{
  position: absolute;
  content: '';
  background-image: url(../img/icons/features-bg.svg);
  display: block;
  top: -255px;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: left -45% top;
  background-repeat: no-repeat;
} 
.features .feature-item{
  background-image: url(../img/icons/feature-icon-bg.svg);
  background-position: top 30px left 45px;
  background-repeat: no-repeat;
} 
.features .feature-item h5{
  color: var(--secondary-color);
  font-size: 16px;
  margin-bottom: 15px;
  font-family: 'Montserrat-SemiBold';
}
.features .feature-item p{
  color: var(--secondary-color);
  font-size: 12px;
  font-family: 'Montserrat-Regular';

}
.features .feature-item img {
 margin-bottom: 35px;
} 

/******Services*****/
.services{
  margin-top: 170px;
}

.services .accordion .card{
  margin-bottom: 15px;
  border: 0 !important;
  box-shadow: 0 1px 4px 0 rgba(0, 121, 251, 0.15);
}
.services .accordion .card .card-header{
  cursor: pointer;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 18px 23px 10px 20px;
  background-image: url(../img/icons/acc-arrow-bottom.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}
.services .accordion .card .card-header[aria-expanded="true"]{
  background-color: var(--light-main-color);
  background-image: url(../img/icons/acc-arrow-top.svg);
}

.services .accordion .card .card-header h4{
  font-size: 14px;
  font-family: 'Montserrat-Meduium';
  color: var(--secondary-color);
}
.services .accordion .card .card-header[aria-expanded="true"] h4{
  color: var(--white-color) !important;
}
.services .accordion .card .card-header  span{
  width: 22px;
  height: 22px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  border-radius: 50%;
  margin-right: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.services .accordion .card .card-header[aria-expanded="true"] span{
  background-color: var(--white-color);
  color: var(--main-color);
}
.services .accordion .card-body{
  font-size: 13px;
  font-family: 'Montserrat-Regular';
}
/********NewsLatter****/
.news-latter {
  position: relative;
  margin-top: 165px;
  background-image: url(../img/layout/news-letter-bg.png);
  background-position: right 15% center;
  background-repeat: no-repeat;
  background-size: contain;
}
.news-latter .news-latter-item p{
  width: 55%;
}
.news-latter .news-latter-item .media{
  align-items: center;
}
.news-latter .news-latter-item .media img{
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.news-latter .news-latter-item .media-body h5{
  font-size: 15px;
  font-family: 'Montserrat-SemiBold';
  color: var(--main-color);
  margin-bottom:0 ;
}
.news-latter .news-latter-item .media-body span{
  font-size: 13px;
  font-family: 'Montserrat-Regular';
  color:   #707070;
}

.news-latter .owl-theme .owl-nav [class*=owl-] {
 background: transparent !important;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
}
.news-latter .owl-theme  .owl-next{
margin-left: 15px !important;
}
.news-latter .owl-theme  .owl-next svg path{
  fill: var(--light-main-color);
}
.news-latter .owl-theme svg:hover path{
  fill: var(--light-main-color);
}
/******Video******/
.video{
  margin-top: 150px;
  position: relative;
}

.video-img{
  position: relative;
  overflow:hidden;
}
.video-img img.video-img {
  width: 100%;
  max-width: 100%;
  height: 275px;
}
.video-img span{
  width: 100px;
  height: 100px;
  background-color: var(--light-main-color);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.video-img span img{

}
/******pricing*****/
.Pricing {
  margin-top: 160px;
  position: relative;
  background-image: url(../img/layout/support-before.svg);
  background-position: top right -20%;
  background-repeat: no-repeat;
}

.Pricing .secondary-title{
  margin-bottom: 110px;
}
.Pricing .pricing-item{
  box-shadow: 2px 5px 8px 0 rgba(0, 121, 251, 0.15);
  border-radius:  0 20px 0 0;
}
.Pricing .pricing-item .pricing-header{
  background-color: var(--light-grey-color);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 0 20px 0 0;
}
.Pricing .pricing-item .pricing-header h3{
  font-family: 'Montserrat-SemiBold';
 font-size: 37px;
 color: var(--secondary-color);
 margin-bottom: 25px;
}
.Pricing .pricing-item .pricing-header h3 span{
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  color: #D1DEEB;
}
.Pricing .pricing-item .pricing-header h4{
  font-family: 'Montserrat-SemiBold';
  color: var(--secondary-color);
  font-size: 22px;
}
.Pricing .pricing-item .pricing-header p{
  font-family: 'Montserrat-Regular';
  font-size: 13px;
  margin-bottom: 0;
}
.Pricing .pricing-item.active{
margin-top: -45px;
}
.Pricing .pricing-item.active .pricing-header , .Pricing .pricing-item:hover .pricing-header{
  border-radius: 20px 0  0 0 !important;
  background-color: var(--main-color) !important;
}
.Pricing .pricing-item.active .pricing-header h3 , .Pricing .pricing-item.active .pricing-header h4,.Pricing .pricing-item.active .pricing-header p ,
  .Pricing .pricing-item:hover .pricing-header h3 , .Pricing .pricing-item:hover .pricing-header h4,.Pricing .pricing-item:hover .pricing-header p {

  color:  #fff !important;
}
.Pricing .pricing-item .pricing-body{
  padding:40px 30px 40px 30px;
}
.Pricing .pricing-item .pricing-body h5{
  font-size: 18px;
  font-family: 'Montserrat-SemiBold';
  margin-bottom: 30px;
}
.Pricing .pricing-item .pricing-body ul li{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
}
.Pricing .pricing-item .pricing-body span{
  width: 22px;
  height: 22px;
  background-color: #D1DEEB;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 11px;
  font-family: 'Montserrat-Meduium';
  margin-right: 20px;
}
.Pricing .pricing-item .pricing-body button{
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 16px;
  font-family: 'Montserrat-Meduium';
  padding: 18px 3px 18px 3px;
  width: 100%;
  border-radius: 8px;
}
.Pricing .pricing-item .pricing-body button:hover{
  box-shadow: 0 5px 10px 0 rgb(0 121 251 / 30%) !important;
}

/*****download-app****/
.download-app{
  margin-top: 200px;
}
.download-app .download-app-bg{
  background-image: url(../img/layout/download-bg.svg);
  background-size: cover;
  overflow:hidden;
  background-position: center;
  padding: 45px 95px 45px 95px;
}
.download-app h2{
  font-size: 31px;
  font-family: 'Montserrat-Bold';
  color: var(--white-color);
}
.download-app p{
  font-size:13px;
  font-family: 'Montserrat-Meduium';
  color: var(--white-color);
}
.download-app .download-buttons .btn{
  background-color: var(--pink-color) !important;
}   
.download-app .download-buttons .btn span{
  color:  var(--white-color) ;
}
.download-app .download-buttons{
  height: 100%;
  align-items: center;
  display: flex;
}
.download-app .download-buttons a svg{
 margin-right: 15px
}
.download-app .download-buttons .btn:hover {
  background-color: var(--pink-color) !important;
  box-shadow: 0 3px 8px 0 rgba(251, 0, 197, 0.3) !important;
}
/* .download-app .download-buttons .btn:hover svg path{
  fill: var(--pink-color) !important;
} */
/******Support Section*****/
.support{
  margin-top: 150px;
  padding-bottom: 115px;
  position: relative;
  background-image: url(../img/layout/support-before.svg);
  background-position: left -30% center ;
  background-repeat: no-repeat;
}
.support::before{
  content: '';
  position: absolute;
  background-image: url(../img/layout/footer-top-bg.svg);
  display: block;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right -15% center;
  background-repeat: no-repeat;
} 
.support .subscribe-content{
  width: 50%;
  margin: auto;
  margin-top: 85px;
}
.support .subscribe-content .form-group{
  height: 70px;
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 15px 20px 0 rgb(0 155 253 / 20%);
  border-radius: 15px;
}
.support .subscribe-content input,.support .subscribe-content button {
 height: 100%;
}
.support .subscribe-content input{
  border-radius: 15px;
}
.support .subscribe-content button {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.support .subscribe-content button {
  background-color: var(--light-main-color);
  font-size: 17px;
  font-family: 'Montserrat-Meduium';
  display: flex;
  align-items: center;
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  text-align: center;
  justify-content: center;
  z-index: 99;
  border: 0 !important;
}
.support .subscribe-content button span{
 margin-right: 15px;
}
.support .subscribe-content .send-mail{
      margin-top: 30px;
}
.support .subscribe-content .send-mail p{
  font-size: 18px;
  font-family: 'Montserrat-Meduium';
  color: #707070;
}
.support .subscribe-content .send-mail span a{
  color: var(--pink-color);
  font-size: 18px;
  font-family: 'Montserrat-Meduium';
}

/*****Footer*****/
footer{
  background-color: var(--main-color);
  padding: 40px 0 40px 0;
  position: relative;
}
footer .social-contact{
  
}
.social-contact ul li{
  display: inline-block;
}

.social-contact ul li:not(:last-child){
  margin-right: 20px;
}
.social-contact p , .social-contact  span a{
  font-size: 16px;
  font-family: 'Montserrat-Regular';
  color: #DEF2FF;
}

.social-contact  span a{
  color:#addaff!important;
  text-decoration: underline;
}
footer .social-contact ul li:hover svg path{
  fill: var(--pink-color);
}

/******Go to Top********/
#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 42px;
  height: 42px;
  background-color: #15487C;
  border-radius: 50%;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
}

button#myBtn{
  border: 0 !important;
}
button#myBtn svg{
  margin-bottom: 5px;
}
#myBtn:hover{
  background-color: var(--pink-color);
}
#myBtn:hover svg{
 fill: var(--white-color);
}




/*****Responsive*******/
.burger-icon {
  display: none ;
}
.app-sidebar{
  display: none;
}
@media (max-width: 1200px){
  .download-app .download-buttons ul li a{
      margin-bottom: 10px;
      width: 200px;
  }
  
}

@media (max-width: 991px){
  .text-res-center{
      text-align: center;
  }
  .hero{
      padding-top: 10px;
  }
  .hero-copy h1 {
      font-size: 40px;
  }
  .mt-r-3{
      margin-top: 30px;
  }
  .btn-lg{
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
  }
  .support .subscribe-content{
      width: 80%;
  }
  .download-app , .support{
      margin-top: 100px;
  }
  .Pricing .pricing-item{
      margin-bottom: 20px;
  }
  .Pricing .pricing-item.active , .services{
      margin-top:100px;
  }
  .news-latter .news-latter-item p{
      width: 80%;
  }
  .navbar-collapse.collapse{
      width: 100%;
      background: #81d2ff;
      position: absolute;
      top: 45px;
      z-index: 9999999;

  }
  .navbar-toggler{
      float: right;
      width: 100%;
      text-align: right;
  }
  .navbar.navbar-expand-lg.navbar-light{
      width: 100%;
      position: relative;
  }
  .navbar-light .navbar-toggler {
      color: rgba(0,0,0,.5);
      width: 200px !important;
      float: right;
      right: -24px;
      position: absolute;
      top: 6px;
      border: 0 !important;
  }
  .app-navbar .navbar .nav-link{
      color: var(--secondary-color);
  }

  .app-navbar .navbar-light .navbar-nav .active>.nav-link, .app-navbar .navbar-light .navbar-nav .nav-link.active, .app-navbar .navbar-light .navbar-nav .nav-link.show, .app-navbar .navbar-light .navbar-nav .show>.nav-link, .app-navbar .navbar .nav-link:hover {
      color: #0d8cf1 !important;
      font-weight: bold;
  }
  .app-navbar .navbar .nav-link{
      margin-left: 0 !important;
      padding-left: 25px;
      padding-right: 25px;
  }
  .secondary-title , .Pricing .secondary-title{
      margin-bottom: 60px;
  }
  .navbar-nav{
      display: none !important;
  }

/************Mobile menu**************/
.burger-icon {
  display: block !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: none;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 50px;
}
.burger-icon span {
  display: block;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 10px;
  height: 3px;
  min-height: 3px;
  width: 100%;
  background-color: var(--main-color);
}
.burger-icon span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 95%;
  height: 3px;
  min-height: 3px;
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 3px;
  top: 5px;
  background-color: var(--main-color);
}

.burger-icon span::after{
  position: absolute;
  display: block;
  left: 0;
  width: 95%;
  height: 3px;
  min-height: 3px;
  content: "";
  border-radius: 3px;
  top: 17px;
  background-color: var(--main-color);
}
.app-sidebar{
  display: block;
  margin-left: -70%;
  position: absolute;
  top: 0;
  width: 70%;
  background: #f0f7ff;
  height: 100vh;
  z-index: 9999999;
}
.app-sidebar ul{
  margin-top: 40px;
  margin-left: 25px;
}
.app-sidebar.SideNav-Res{
  margin-left: 0 !important;
}
.sidebar-center-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.app-sidebar ul .nav-link{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #291d1d;
  font-family: 'Montserrat-Meduium';
}
.app-sidebar ul .nav-link.active {
  color: #15629e;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
}
@media (max-width: 767px){
  .support .subscribe-content{
      width: 100% !important
  }
  .support .subscribe-content .form-group{
      height: 55px;
  }
  .support .subscribe-content .form-group input{
      font-size: 13px;
  }
  .support .subscribe-content span img{
      width: 35px;
  }
  .download-app .download-app-bg {
      padding: 40px 35px 40px 35px !important;
  }
  .download-app .download-buttons li{
      width: 100%;
  }
  .btn-lg{
      width: 100%;
  }
  .features .feature-item {
      background-position: top 30px left 46%;
  }
  .news-latter {
      background-size: 36% !important;
  }
  .download-app .download-buttons ul li a{
      width: 100% !important;
  }

  .support .subscribe-content button {
      font-size: 13px;
  }
  ::placeholder{
      font-size: 13px;
      }
  ::-webkit-input-placeholder { /* Edge */
      font-size: 13px;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-size: 13px;
    }
}










/***--Animated-circles****/
/***first1**/

.first1-circle{
  position: absolute;
  top: 35%;
  left: 5%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--pink-color);
background-color: transparent;
  border-radius: 50%;
  animation: animation 5s linear infinite;
}
.first-circle{
position: absolute;
top: 24%;
  left: 32%;
  height: 13px;
  width: 16px;
  background-image: url(../img/icons/plus-icon.svg);
  background-repeat: no-repeat;
border-radius: 50%;
animation: animation 5s linear infinite;
}
.first2-circle{
  position: absolute;
  top: 42%;
  left: 35%;
  width: 30px;
  height: 25px;
  background-image: url(../img/icons/curse-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  animation: animationf 5s linear infinite;
}          
.first3-circle{
  position: absolute;
  bottom: -6%;
  left: 40%;
  width: 30px;
  height: 25px;
  background-image: url(../img/icons/curse-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  animation: animation 5s linear infinite;
}          
.video .first3-circle{
  bottom: -14% !important;
  }
.first4-circle{
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--pink-color);
background-color: transparent;
  border-radius: 50%;
  animation: animationf 5s linear infinite;
}

@-webkit-keyframes animation {
  0%, 100% {
      transform: translate(0, 30px) rotate(0deg);
  }
  25% {
      transform: translate(15px, 0px) rotate(8deg);
  }
  50% {
      transform: translate(0px, -30px) rotate(0deg);
  }
  75% {
      transform: translate(-15px, 0px) rotate(17deg);
  }
}

@-webkit-keyframes animationf {
  0%, 100% {
      transform: translate(0, -100px) rotate(15deg);
  }
  25% {
      transform: translate(30px, -50px) rotate(40deg);
  }
  50% {
      transform: translate(0px, -190px) rotate(15deg);
  }
  75% {
      transform: translate(-60px, 0px) rotate(35deg);
  }
}


/*****Social-contact-fixed-right***/
.social-contact.fixed-right{
  position: absolute;
  top: 5%;
  right: 7%;
  z-index: 999;
}
.social-contact.fixed-right ul li {
  display: block;
  color: #fff !important;
  background: var(--light-main-color);
  margin-top: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  width: 30px;
  height: 30px;
  margin-right: 0 !important;
  z-index: 99999;
  border-radius: 50%;

}
.social-contact.fixed-right ul li a{
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.social-contact.fixed-right ul li a:hover {
  box-shadow: 0 5px 10px 5px rgb(0 121 251 / 30%) !important;
}

.social-contact.fixed-right ul li a:hover svg path {
  fill: var(--pink-color);
}
.fixed-top {
  box-shadow: 0 5px 10px 0 rgb(0 121 251 / 30%);
  transition: 0.3s ease-in-out;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}


/***************Subscribe********************/
.alert{
  margin: -9px 0 12px 0;
  padding: 10px;
  border-radius: 5px;
}
.success-alert{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
.error-alert{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
