body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../images/background.svg") repeat-x fixed center bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.send-message-logo {
  text-align: center;
}

.send-message-header {
  color: #002776;
  font-size: 32px;
  font-weight: 600;
  width: 100px;
  margin-bottom: 10px;
}

.message-sent-header {
  color: #002776;
  font-size: 32px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 10px;
}

.message-sub-header,
.made-with-love {
  color: #a3abbd;
  font-size: 16px;
  margin-bottom: 65px;
}

.download-our-app-header {
  color: #002776;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.download-our-app-header > span {
  color: #0099FF;
}

.send-message-sub-header {
  color: #a3abbd;
  font-size: 11px;
  margin-bottom: 35px;
}

.made-with-love {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
}

.send-message-label {
  margin-top: 30px;
}

.show-number-button {
  margin-left: 5px;
}

.spinner {
  margin-left: 5px;
  vertical-align: middle !important;
  color: #0d6efd;
}

@media (max-width: 600px) {
  .content {
    left: 50%;
    margin: 50px auto auto;
  }

  .message-container {
    background-color: #fff;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .inner-message-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .scan-page .made-with-love {
    display: none;
  }
}

@media (min-width: 600px) {
  .content {
    margin: 50px auto auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .message-container {
    width: 560px;
    border-radius: 24px;
    box-shadow: 0 0 20px 10px rgb(0 155 253 / 10%);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: white;
  }

  .inner-message-container {
    padding-top: 55px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.store-buttons {
  display: flex;
  justify-content: space-evenly;
}
